@model IEnumerable<BookVM>
@{ 
    ViewData["Title"] = "Book List";
    var rec = (List<BookVM>)ViewBag.Recommended;
}
<div class="breadcrumb">
    <div class="container">
        <a class="breadcrumb-item" href="index.html">Home</a>
        <span class="breadcrumb-item active">Shop</span>
    </div>
</div>

<section class="static about-sec">
    <partial name="_RecommendedBooks" model="@rec"/>
    <partial name="_RecentBooks" model="@Model" />    
</section>
