@model IEnumerable<BookVM>
    <div class="container">

        <div class="recent-book-sec">
            <div class="title">
                <h2>recent books</h2>
                <hr>
            </div>
            <div class="row">
                @foreach (var item in Model)
                {
                    <div class="col-md-3">
                        <partial name="_BookItem" model="@item" />
                    </div>
                }
            </div>

            <div class="btn-sec">
                <a href="products.html" class="btn gray-btn">load More books</a>
            </div>
        </div>
    </div>
