@model IEnumerable<BookVM>
@{
    ViewData["Title"] = "Bookstore - Index";
}

<partial name="_Carousel" />
<partial name="_RecommendedBooks" model="@ViewBag.Recommended as IEnumerable<BookVM>" />
<partial name="_About" />
@*<partial name="_RecentBooks" model="@Model" />*@

<div class="container">

    <div class="recent-book-sec">
        <div class="title">
            <h2>recent books</h2>
            <hr>
        </div>
        <div class="row" id="RecentBooks">
            <partial name="_BookItemsDiv" model="@Model" />
        </div>

        @if (!(bool)ViewBag.IsEndOfRecords)
        {
            <div class="btn-sec">
                <a class="btn gray-btn" id="load-more" onclick="loadMore(window.location.href + 'home/loadmore')">load More books</a>
            </div>
        }
        <div class="spinner-border" id="loading-animation" role="status" hidden>
            <span class="sr-only">Loading...</span>
        </div>

    </div>
</div>



<section class="features-sec">
    <div class="container">
        <ul>
            <li>
                <span class="icon"><i class="fa fa-shopping-cart" aria-hidden="true"></i></span>
                <h3>SAFE SHOPPING</h3>
                <h5>Safe Shopping Guarantee</h5>
                <h6>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's...</h6>
            </li>
            <li>
                <span class="icon return"><i class="fa fa-reply-all" aria-hidden="true"></i></span>
                <h3>30- DAY RETURN</h3>
                <h5>Moneyback guarantee</h5>
                <h6>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's...</h6>
            </li>
            <li>
                <span class="icon chat"><i class="fa fa-comments" aria-hidden="true"></i></span>
                <h3>24/7 SUPPORT</h3>
                <h5>online Consultations</h5>
                <h6>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's...</h6>
            </li>
        </ul>
    </div>
</section>